body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

img.main-image {
    width: 474px;
    height: 315px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#graph {
    margin-top: 20px;
    text-align: center;
}

#sparql-query {
    width: 100%;
    font-family: monospace;
}

#query-results {
    margin-top: 20px;
}
